<?xml version="1.0"?>
<!--
/**
 * Copyright © Webjump. All rights reserved.
 * DI configuration registering spooky-session customer-data section (Desafio 17.6)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="spooky-session" xsi:type="string">Webjump\Samuel\CustomerData\SpookySession</item>
            </argument>
        </arguments>
    </type>
</config>
