.webjump-samuel-home-block {
    margin: 30px auto;
    padding: 30px;
    max-width: 1200px;
    border: 2px solid #222;
    text-align: center;
}

.webjump-samuel-home-block h2 {
    margin: 0;
    font-size: 24px;
}