*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/src/app
!/src/app/*/
!/src/app/code/**
!/src/app/design/**
!/src/app/etc/config.php
!/src/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
auth.json
