<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\CatalogInventory\Block\Stockqty\AbstractStockqty">
        <plugin
            name="webjump_catalog_behavior_stock_qty_msg"
            type="Webjump\CatalogBehavior\Plugin\Block\Stockqty\AbstractStockqtyPlugin"
            sortOrder="-10"
        />
    </type>

</config>