// /**
//  * Desafio 16.2 - Variáveis de E-mail para Tema Noite Assombrada / Horror-Shop
//  */

// Estrutura
@email-body__width:                 660px;
@email-body__padding:               @indent__m;

// Cores base do E-mail
@email__background-color:           #ede9e2;
@email-content__background-color:   #ffffff;

// Tipografia e Cores de Texto (Escuras para alto contraste no e-mail)
@text__color:                       #121212;
@text__color__muted:                #555555;
@primary__color:                    #aa0707;

// Links
@link__color:                       #aa0707;
@link__text-decoration:             underline;
