<?xml version="1.0"?>
<!--
/**
 * Copyright © Webjump. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="webjump_productreview" frontName="webjump_productreview">
            <module name="Webjump_ProductReview" before="Magento_Backend"/>
        </route>
    </router>
</config>
