<?xml version="1.0"?>
<!--
/**
 * Copyright © Webjump. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webjump_ProductReview::webjump"
                          title="Webjump"
                          sortOrder="100">
                    <resource id="Webjump_ProductReview::reviews"
                              title="Avaliações de Produtos"
                              sortOrder="10">
                        <resource id="Webjump_ProductReview::reviews_actions"
                                  title="Ações em Massa"
                                  sortOrder="10"/>
                        <resource id="Webjump_ProductReview::reviews_export"
                                  title="Exportar Avaliações"
                                  sortOrder="20"/>
                    </resource>
                    <resource id="Webjump_ProductReview::config"
                              title="Configurações de Avaliações"
                              sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
