<?xml version="1.0"?>
<!--
/**
 * Copyright © Webjump. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <webjump_productreview>
            <general>
                <enabled>1</enabled>
                <min_rating>1</min_rating>
                <require_approval>1</require_approval>
            </general>
        </webjump_productreview>
    </default>
</config>
