<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webjump_samuel"
                 translate="label"
                 sortOrder="100"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Webjump Samuel</label>

            <resource>Magento_Backend::config</resource>
            <tab>general</tab>

            <group id="general"
                   translate="label"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Configuração do Bloco</label>

                <field id="block_text"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Texto do bloco</label>
                </field>
            </group>
        </section>
    </system>
</config>