/**
 * Copyright © Webjump. All rights reserved.
 */

.product-info-stock-sku {
    .stock.available {
        &.low-stock,
        .webjump-low-stock {
            color: #e02b27 !important;
            display: inline-flex;
            align-items: center;
            gap: 4px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .webjump-stock-alert {
        color: #e02b27;
        font-weight: 600;
        margin: 4px 0;
        display: block;

        span {
            display: inline-flex;
            align-items: center;
            gap: 4px;
        }
    }
}