/**
 * Copyright © Webjump. All rights reserved.
 */

.product-info-stock-sku {
    .webjump-stock-alert {
        color: #d9534f;
        font-weight: 600;
        margin: 4px 0;
        display: block;

        span {
            display: inline-flex;
            align-items: center;
            gap: 4px;
        }
    }
}
