MYSQL_HOST=db
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=CHANGE_ME

MYSQL_INTEGRATION_ROOT_PASSWORD=CHANGE_ME_ROOT
MYSQL_INTEGRATION_DATABASE=magento_integration_tests
MYSQL_INTEGRATION_USER=magento
MYSQL_INTEGRATION_PASSWORD=CHANGE_ME
MYSQL_INTEGRATION_HOST=db
