MAGENTO_ADMIN_EMAIL=CHANGE_ME@example.com
MAGENTO_ADMIN_FIRST_NAME=CHANGE_ME
MAGENTO_ADMIN_LAST_NAME=CHANGE_ME
MAGENTO_ADMIN_USER=CHANGE_ME_admin
MAGENTO_ADMIN_PASSWORD=CHANGE_ME_min12chars
MAGENTO_ADMIN_FRONTNAME=CHANGE_ME_backend
MAGENTO_LOCALE=en_US
MAGENTO_CURRENCY=USD
MAGENTO_TIMEZONE=America/New_York
